services:
  redis:
    image: redis:7.2-alpine
    container_name: movies_redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.10.0
    container_name: movies_elastic
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"
    volumes:
      - elastic_data:/usr/share/elasticsearch/data
    healthcheck:
      test: curl -f http://localhost:9200/_cluster/health || exit 1
      interval: 10s
      timeout: 5s
      retries: 10

  api:
    build:
      context: api_service
      dockerfile: dockerfile
    container_name: movies_api
    entrypoint: ["/app/wait-for-it.sh", "redis", "6379", "--", "/app/wait-for-it.sh", "elasticsearch", "9200", "--", "uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000"]
    depends_on:
      redis:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
    ports:
      - "8000:8000"
    environment:
      - REDIS_HOST=redis
      - ELASTIC_HOST=elasticsearch
      - ELASTIC_SCHEMA=http://
      - PYTHONPATH=/app/src

volumes:
  elastic_data: