services:
  auth-service:
    build:
      context: .
      dockerfile: Dockerfile
    image: auth-service-image
    env_file:
       - .env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - ./src:/app/src
      - ./tests:/app/tests
      - ./alembic.ini:/app/alembic.ini
      - ./alembic:/app/alembic
    restart: always

  postgres:
    image: postgres:16-alpine
    env_file:
       - .env
    command: 
      - "postgres"
      - "-c"
      - "log_statement=all"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d auth_db"]
    restart: always

  redis:
    image: redis:7.2-alpine
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    restart: always

volumes:
  postgres_data:
