version: '3.8'

services:
  redis:
    image: redis:7.2-alpine
    container_name: cinema_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  elasticsearch:
    image: elasticsearch:8.13.4
    container_name: cinema_elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"
    volumes:
      - es_data:/usr/share/elasticsearch/data

  api:
    build: ./api_service
    container_name: cinema_api
    environment:
      - REDIS_HOST=redis
      - ELASTIC_HOST=http://elasticsearch:9200
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - elasticsearch

volumes:
  redis_data:
  es_data: